{% load static %} 

<head>
<title>djnago board </title>
<link rel="stylesheet" href={% static 'css/base.css'%}>
</head>
<body>
    <header>
        <h1><a href= {% url 'home' %} >django board </a></h1>
        
    <div>
        <a href= {% url 'post_new' %} >  post new </a>

    </div>



    </header>
    {% if user.is_authenticated%}
    <p>hi {{user.username}}</p>
    <a href={% url 'logout' %}>logout</a>
    {% else %}
    <p>you are not login         </p>
    <a href={% url 'login' %}>login</a>
    <br>
    <a href={% url 'signup' %}>signup</a>
    {% endif %}







    <div>


        {% block content %}
        {% endblock content %}
    </div>




</body>