{% extends 'base.html' %}
{% block content %}
    <div class="post-entry">
        <h2>{{object.title}}<h2>
        <p>{{object.body}}<h2>
    </div>
    <a href={% url 'post_edit' post.pk %}> Edit post </a> 
    <br> 
    <a href={% url 'post_delete' post.pk %}> delete post </a>   
{% endblock content %}
    
        